@font-face {
    font-family: 'Muli-Bold';
    src: url('/assets/fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-BoldItalic';
    src: url('/assets/fonts/Muli-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url("/assets/fonts/Muli-ExtraBold.woff") format('truetype');
}

@font-face {
    font-family: 'Muli-talic';
    src: url('/assets/fonts/Muli-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('/assets/fonts/Muli-Regular.woff') format('truetype');
}

@font-face {
    font-family: 'Muli-Semi-BoldItalic';
    src: url('/assets/fonts/Muli-Semi-BoldItalic.ttf') format('truetype');
}

