@import '../base/normalize.scss';

@import '../base/fonts';

@import './layout/header';

@import './components/menu';

@import './components/personal';

/*@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-BoldItalic';
    src: url('../fonts/Muli-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url('../fonts/Muli-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Muli-talic';
    src: url('../fonts/Muli-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Muli-Semi-BoldItalic';
    src: url('../fonts/Muli-Semi-BoldItalic.ttf') format('truetype');
}*/

html, body {
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Muli-ExtraBold', sans-serif;
    color: #f7ae3b;
    font-size: 5rem;
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: -1px;
    margin: 0;
}

.text {
    font-family: 'Muli-Regular';
    font-size: 1.8rem;
    line-height: 1.94;
    margin: 0;
}

ul {
    list-style-type: none;
}

.btn {
    font-family: 'Muli-ExtraBold', sans-serif;
    font-size: 2rem;   
    border-radius: 35px;
}

/* header */

/*.header {
    padding: 70px;
    background-image: url('../images/header/header-bg-img.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {
    margin: 0 auto;
    max-width: 1720;
    width: 100%;
}

.header__burger-btn {
    background-color: transparent;
    border: none;
    display: none;
    width: 50px;
}

.header__burger-btn-icon {
    width: 100%;
}



.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
display: flex;
justify-content: center;
}

.header__btn {
    font-size: 2.4rem;
    width: 280px;
    height: 70px;
    border-style: none;
    margin-top: 105px;
    padding-right: 124px;
    position: relative;
}

.header__btn::after {
    content: '';
    position: absolute;
    background-image:url(../images/header/Arrow-yellow.png);
    width: 33px;
    height: 17px;
    top: 28px;
    right: 35px;
}*/

.btn--green-bg {
    background-color: #0aa566;
    color: white;
}

.btn--green-bg:hover::after {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.btn--green-bg:hover {
    background: #06dd87;
}



/*.header__menu {
    display: flex;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0;
    
}

.menu__item:not(:first-child) {
    margin-left: 25px;
    list-style-type: none; 
}

.menu__link {
    list-style-type: none;
    color: white;
    font-family: 'Muli-Semi-BoldItalic';
    text-decoration: none;
    font-size: 1.6rem;
}

.menu__item:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.header__logo {
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px);
}

.header__wrap {
    display: flex;
    align-items: center;
}

.personal {
    display: flex;
    position: relative;
    margin-right: 135px;
}

.personal::after {
    content: '';
    position: absolute;
    background-image: url(../images/header/Line.png);
    height: 2px;
    width: 45px;
    top:12px;
    right: -115px;
}

.personal__list {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.personal__list-item:not(:last-child) {
    margin-right: 45px;
}

.personal__list-item:last-child {
    position: relative;
}

.personal__cart-count {
    background-color: white;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: -10px;
}*/

.social {
    display: flex;
    }

.social__list {
    display: flex;
    justify-content: space-between;
    align-items:center;
}  

.social__list-item:not(:last-child) {
    margin-right: 35px;
}

.social__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
}

.social__list-item:hover {
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

/* smoothie */

.smoothies {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 960px;
}

.smoothies__title {
    display: flex;
    font-size: 5rem;
    color: #f7ae3b;
    margin-top: 100px;
    margin-bottom: 55px;
    text-align: center;
}

.smoothies__text {
    display: flex;
    max-width: 915px;
    text-align: center;
    margin-bottom: 60px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
    justify-content: center;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 240px;
    height: 180px;
}

.features__item:nth-child(-n+4) {
    border-bottom: 2px solid #f6edde;
}

.features__item:nth-child(-n+3) {
    border-right: 2px solid #f6edde;
}

.features__item:nth-child(1n+5) {
    border-right: 2px solid #f6edde;
}

.features__item:last-child {
    border-right: 0;
}

.features__title {
    color: #f2612d;
    font-size: 2.5rem;
}



/*  about  */

.about {
    background-color: #14826f;
    display: flex;
    justify-content: center;
}

.about__wrapper {
    display: flex;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 610px;
}

.about__wrap-img {
    transform: translate(-110px, 50px);
}
.about__title {
    width: 590px;
    margin-top: 100px;
    color: #ffffff;
    line-height: 1.09;
    letter-spacing: -1.1px;
    }

.about__title-green {
    color: #cae941;
    position: relative;
}

.about__title-green::after {
    content: '';
    position: absolute;
    background-image: url(../images/about/Line-green.png);
    width: 440px;
    height: 15px;
    top: 60px;
    right: -50px;
}

.about__list-item {
    color: #ffffff;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: 'Muli-Regular';
    line-height: 1.05;
    list-style-image: url(../images/about/icon_about.png);
    padding-left: 20px;
    margin-top: 25px;
}

.about__list-thin {
    font-weight: normal;
}

.about__btn {
    width: 350px;
    height: 60px;
    border: solid 2px #f8b231;
    background-color: #15846d;
    color:white;
    display: flex;
    align-items:center;
    font-size: 2.1rem;
    padding-left: 14px;
    margin-bottom: 95px;
    position: relative;
    margin-top: 20px;
}

.about__btn::after {
    content: '';
    position: absolute;
    background-image: url(../images/about/Arrow-about.png);
    width: 33px;
    height: 17px;
    top: 20px;
    right: 30px;
}

.about__btn:hover::after {
    transform: translateX(10px);
}

/*  products  */

.products {
    display: flex;
    text-align: center;
}

.products__wrap {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.products__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 25%;
    width: 480px;
    height: 720px;
}

.products__item--Turmeric {
    background-color: #c3471b;
}

.products__item--Chocolate {
    background-color: #632b17;
}

.products__item--Vegan {
    background-color: #178670;
}

.products__item--Lemon {
    background-color: #f7ae3b;
}

.products__title {
    font-size: 2.4rem;
    font-family: 'Muli-Regular';
    width: 291px;
    color: #ffffff;
    margin-top: 35px;
    margin-bottom: 65px;
}

.products__btn {
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 22px 130px 18px 36px;
    margin-top: 65px;
    position: relative;
}

.products__btn::after {
    content:'';
    position: absolute;
    background-image: url(../images/products/Arrow-white.png);
    top: 25px;
    right: 30px;
    width: 33px;
    height: 17px;
}

.products__btn:hover::after {
    transform: translateX(10px);
}

.products__title-thin {
    font-size: 2.1rem;
    font-weight: normal;
}

/*  story  */

.story {
    
    height: 100%;
}

.story__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.story__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 510px;
    align-items: flex-start;
}

.story__title {
    color: #f7ae3b;
    font-size: 5rem;
}

.story__text {
    color: #1e1e1e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 35px;
    margin: 40px 0 60px 0;
}

.story__btn {
    width: 300px;
    height: 60px;
    background-color: #0aa566;
    color: #ffffff;
    border-style: none;
    font-size: 2rem;
    padding-right: 130px;
    position: relative;
}

.story__btn::after {
    width: 33px;
    height: 17px;
    background-image: url(../images/header/Arrow-yellow.png);
    content: '';
    position: absolute;
    top: 23px;
    right: 33px;
}

.story__btn:hover::after {
    transform: translateX(10px);
}

.story__img {
    padding-top: 120px;
    padding-bottom: 160px;
}

.story__wrap-right {
    position: relative;
}

.story__wrap-right::before {
    content: '';
    width: 290px;
    height: 215px;
    background-image: url(../images/story/Stamp.png);
    position: absolute;
    top: 130px;
    left: -170px;
}

/*  testimonials  */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #672f1b;
}

.testimonials__title {
    font-size: 5rem;
    font-weight: 800;
    color: #f7ae3b;
    margin-top: 115px;
}

.testimonials__title-large {
    color: #f2612d;
}

.testimonials__wrap {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__quote {
    height: 720px;
    font-size: 1.8rem;
    color: white;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.testimonials__source {
    color: #f7ae3b;
}

.testimonials__btn {
    background: transparent;
    border: none;
    margin-bottom: 80px;
}

.testimonials__btn-left {
    margin-right: 100px;
}

.testimonials__btn-arrow {
    width: 30px;
    height: 16px;
    background-color: #672f1b;
}

.testimonials__img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

/*  blog  */



.blog__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px 30px 190px 30px;

}

.blog__title {
    font-size: 5rem;
    font-weight: 800;
    color: #f7ae3b;
    margin-bottom: 50px;
}

.blog__right {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 645px;
}

.blog__right-title {
    color: #f2612d;
    font-size: 3rem;
    font-weight: 800;
    margin: 50px 0 0 60px;
    font-family: 'Muli-ExtraBold';
    position: relative;
}

.blog__right-title::after {
    content: '';
    position: absolute;
    width: 687px;
    height: 12px;
    background-image: url(../images/blog/Line-yellow.png);
    top: -50px;
    left: -88px;
    z-index: -1;
}

.blog__date {
    color: #1e1e1e;
    font-size: 1.5rem;
    margin: 20px 0 0 60px;
}

.blog__text {
    width: 470px;
    margin: 45px 0 0 125px;
}

.blog__link {
    font-weight: 800;
    color: #1e1e1e;
    text-decoration: none;
    position: relative;
}

.blog__link::after {
    content: '';
    position: absolute;
    width: 18px;
    background-image: url(../images/blog/arrow_3289.png);
    top: 8px;
    right: -31px;
}

/*   instagram  */

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram__link {
    color: #0aa566;
    font-size: 2.4rem;
    text-decoration: none;
    font-family: 'Muli-ExtraBold';
}

.instagram__inner {
    display: flex;
    margin-top: 45px;
    overflow: scroll;
    width: 100vw;
}

.instagram__item-img {
    position: relative;
}

.instagram__item-img::after {
    content: '';
    position: absolute;
    background-image: url(../images/instagram/Insta-white.png);
    width: 27px;
    height: 27px;
    top: 340px;
    right: 20px;
}

.instagram__logo:hover {
    transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}

/*  footer  */



.footer__top {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    height: 370px;
    background-color: #f7ae3b;
}

.footer__information{
    
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information__title {
    color:white;
    letter-spacing: -0.52px;
    font-size: 2.6rem;
    font-family: 'Muli-ExtraBold';
}

.information__item {
    font-size: 1.8rem;
    font-family: 'Muli-Bold';
    letter-spacing: -0.36px;
    line-height: 1.94;
}

.information__list {
    padding-left: 0;
}

.information__link {
    color: #6d450c;
    text-decoration: none;
}

.payment {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.payment__title {
    color: #ffffff;
    letter-spacing: -0.52px;
    font-size: 2.6rem;
    font-family: 'Muli-ExtraBold';
}

.payment__list {
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
}

.payment__list-iner {
    align-self: center;
    margin: 10px 15px 0 0;
}


.footer__box {
    width: 495px;
    height: 175px;
    display: flex;
    flex-direction: column;
}

.footer__box-title {
    color: #ffffff;
    letter-spacing: -0.52px;
    font-size: 2.6rem;
    font-family: 'Muli-ExtraBold';
}

.footer__form {
    font-family: 'Muli-Bold';
    font-size: 1.7rem;
    color: #6d450c;
    position: relative;
}

.footer__form::before {
    content: '';
    position: absolute;
    background-image: url(../images/footer/envelope.png);
    width: 24px;
    height: 19px;
    top: 55px;
    left: 20px;
}

.footer__email {
    margin-top: 35px;
    padding: 18px 0px 20px 55px;
    border-radius: 30px;
    background-color: #ffffff;
    width: 495px;
    height: 60px;
}

.footer__socials {
    display: flex;
    margin: 30px 0 0 190px;
    position: relative;
}

.footer__socials::after {
    content:'' ;
    width: 48px;
    height: 43px;
    background-image: url(../images/footer/Follow.png);
    position: absolute;
    top: -20px;
    left: -50px;
}

.social__subtitel {
    color: #6d450c;
    font-size: 1.8rem;
    font-family: 'Muli-ExtraBold';
    margin: 5px 40px 0 5px;
}

.social__item:not(:first-child) {
    margin-left: 25px;
}

.social__list {
    display: flex;
}

.footer__up {
    background-color: #6c2c1c;
    display: flex;
    align-items: center;
    position: relative;
}

.footer__centr {
    color: #af8a82;
    font-size: 1.3rem;
    padding: 20px 20px;
    margin: 0 auto;
}

.footer__btn {
    position: fixed;
    background-color: #f2662f;
    border: none;
    bottom: 35px;
    font-size: 1.6rem;
    min-height: 50px;
    min-width: 50px;
    right: 55px;
}

.footer__btn::before {
    position: absolute;
    content: "Go top";
    color:white;
    left:-50px;
    top:50px;
}

.footer__btn::after {
    content: '';
    position: absolute;
    height: 25px;
    width: 13px;
    background-image: url(../images/footer/icon_arrow_up.png);
    top: 14px;
    left:19px;
}

/* M E D I A */

@media screen  and (max-width: 1440px) {
    .header__navigation {
    flex-direction: column;
    justify-content: flex-end;
    height: 170px;
    }

    .header__btn {
        margin-top: 35px;
    }

    .menu__list {
        margin-bottom: 23px;
    }

    .about__wrap-img {
        transform: translate(70px,10px);
        -webkit-transform: translate(70px,10px);
        -moz-transform: translate(70px,10px);
        -ms-transform: translate(70px,10px);
        -o-transform: translate(70px,10px);
}
    .about__img {
        max-width: 80%;
    }
}

@media screen and (max-width: 1200px){
    .about__wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 70px 70px;
    }
}

@media screen and (max-width: 1150px){
    .blog__wrap {
        flex-direction: column;
    }

    .about__wrap-img {
        transform: translate(70px, 0px);
    }

    .story__inner {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 50px;
    }

    .story__img {
        padding-bottom: 50px;
        padding-top: 60px;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__information {
        margin: 30px 0 30px 0;
        height: 165px;
    }

    .payment {
        height: 165px;
        margin-bottom: 50px;
    }

    .payment__title {
        margin-left: 33px;
    }

    .footer__box-title {
        margin-left: 145px;
    }

    .smoothies__text {
        padding: 0 5px 0 5px;
    }
}

@media screen and (max-width: 920px)  {
    .story__wrap-right::before {
        top: 540px;
        left: 295px;
    }

    .testimonials__wrap {
        flex-direction: column;
        width: 500px;
    }
    .testimonials__quote {
        height: 350px;
    }
    
}

@media screen and (max-width: 768px) {
    
    .header__navigation {
        display: none;
        background-color: #0aa566;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center; 
    }
    .menu__list {
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
    }
    .logo__img {
        width: 250px;
    }
    .menu__link {
        font-size: 2rem;   
    }

    .menu__item {
        margin: 0;
    }

    .menu__item:first-child {
        margin-left: 25px;
    }
    .header__wrap {
        margin: 100px 0 150px;
    }

    .header__burger-btn {
        display: block;
        width: 50px;
    	position: fixed;
    	right: 40px;
    	top: 20px;
        cursor: pointer;
    }
    
    .header__burger-btn {
        z-index: 2;
    }

    .header__btn {
        margin-top: 105px;
    }

    .about__wrapper {
        flex-direction: column;
    }

    .about__wrap-img {
        transform: none;
        text-align: center;
    }

    .about__img {
        max-width: 80%;
    }

    .about__title {
        min-width: auto;
    }

    

}

@media screen and (max-width: 640px) {
    
    .about__title-green::after {
        display: none;
    }

    .about__wrap {
        max-width: 100%;
    }

    .about__title {
        width: auto;
    }

    .story__wrap-right::before {
        display: none;
    }

    .story__wrap {
        width: 90%;
    }

    .story__img {
        width: 90%;
        padding-left: 30px;
    }

    .testimonials__wrap {
        width: 90%;
    }

    .testimonials__title {
        width: 90%;
    }

    .blog__right-title::after {
        display: none;
    }

    .blog__text {
        width: 90%;
        margin: 15px auto;
    }

    .blog__img {
        width: 90%;
    }

    .blog__right {
        width: 90%;
    }

    .social__subtitel {
        margin: 5px 40px 0 5px;
    }

    .footer__socials::after {
        display: none;
    }

    .footer__socials {
        margin: 30px 0 0 100px;
    }

    .footer__form::before {
        display: none;
    }

}