.products {
    display: flex;
    text-align: center;
    &__wrap {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 25%;
        width: 480px;
        height: 720px;
        &--Turmeric {
            background-color: #c3471b;
        }
        &--Chocolate {
            background-color: #632b17;
        }
        &--Vegan {
            background-color: #178670;
        }
        &--Lemon {
            background-color: #f7ae3b;
        }
    }
    &__title {
        font-size: 2.4rem;
        font-family: 'Muli-Regular';
        width: 291px;
        color: #ffffff;
        margin-top: 35px;
        margin-bottom: 65px;
        &-thin {
            font-size: 2.1rem;
            font-weight: normal;
        }
    }
    &__btn {
        border-radius: 30px;
        border: solid 2px #ffffff;
        background-color: transparent;
        color: #ffffff;
        padding: 22px 130px 18px 36px;
        margin-top: 65px;
        position: relative;
        &::after {
            content:'';
            position: absolute;
            background-image: url(../images/products/Arrow-white.png);
            top: 25px;
            right: 30px;
            width: 33px;
            height: 17px;
        }
        &:hover::after {
            transform: translateX(10px);
        }
    }
}